<form method="post">
      <div class="container">
        <h1>Create account</h1>
        <p>Please fill in this simple form to create an account.</p>
        <p>Remember that your password must be at least 12 characters!</p>
        <hr>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    
        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <hr>
        <button type="submit" class="registerbtn">Create account</button>
      </div>
    
      <div class="container signin">
        <p>Already have an account? <a href=login>Sign in</a>.</p>
      </div>
    </form>
    <link rel="stylesheet" href="index.css">