<!DOCTYPE html>
<html>

<head>
    <title>TraderChat register</title>
    <link rel="stylesheet" href="static/createAccount.css">
</head>

<body>

    <div class="headerLogin">
        <h1>TraderChat</h1>
        <div class="loginBtn">
            <a href='{{ url_for('login') }}'><button>LOG IN</button></a>
        </div>
    </div>
    <div class="signup">
        <form action="" method=post>
            {{ form.csrf_token }}
                <div id="form-wrapper">
                    <input type="text" placeholder="Username" name="username" id="username" required>
                    <input type="password" placeholder="Password" name="psw" id="psw" required>
                    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                    <button type="submit"  class="registerbtn">CREATE ACCOUNT</button>
                    <input type=hidden value="{{ next or '' }}" name=next>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    
                </div>
        </form>
    </div>
    
    
</body>